
@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('./img/img.jpg');
  /* background-color: #480a7f; */
  height: 100vh;
  background-size: cover;
  
  }
  
  
  .container {
    width: 90%;
    border: 0;
    margin: auto;
    padding: 0;
    
    /* background-color: rgba(9, 2, 15, 0.926); */
  }
  
  .mobile-container{
    background-color: #642a9697;
  }


  .topnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.icon {
    float: right;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #480a7f;
    color: white;
  }

  .parallax-window {
    min-height: 400px;
    background: transparent;
}

@media only screen and (max-width: 480px) {
  .h3{
    font-size: 20px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 15px;
      color: aliceblue;
  }
}

@media only screen and (min-width: 480px) {
  
  .h3{
    font-size: 20px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 15px;
      color: aliceblue;
  }

}

@media only screen and (min-width: 600px) {
  
  .h3{
    font-size: 22px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 18px;
      color: aliceblue;
  }

}

@media only screen and (min-width: 768px) {
  
  .h3{
    font-size: 25px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 20px;
      color: aliceblue;
  }
}

@media only screen and (min-width: 992px) {
  
  .h3{
    font-size: 25px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 22px;
      color: aliceblue;
  }
}

@media only screen and (min-width: 1200px) {
  
  .h3{
    font-size: 25px;
    color: aliceblue;
  }

  .paragrif{
      font-size: 22px;
      color: aliceblue;
  }

}

